.dashboard-grid {
    display: flex;
    gap: 16px;
}

.dashboard-calendar {
    flex: 2;
}

.dashboard-counters {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dashboard-card {
    width: 100%;
    max-width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 6px;
    text-align: center;
}

.dashboard-card mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    padding: 4px;
    width: 100%;
    position: relative;
}

.dashboard-card mat-card-header img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dashboard-card mat-card-title {
    flex-grow: 1;
    text-align: center;
}

.dashboard-card h2 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
}

@media (max-width: 960px) {
    .dashboard-grid {
        flex-direction: column;
    }

    .dashboard-calendar,
    .dashboard-counters {
        flex: 1 1 100%;
    }
}