@import './../../../../styles.variables.scss';

.breadcrumb {
    align-items: center !important;
    animation: fadeIn 0.25s ease-in-out !important;
    background-color: $background-secondary-color !important;
    border-radius: 4px !important;
    display: flex !important;
    font-size: 14px !important;
    padding: 5px 10px !important;

    .breadcrumb-item {
        align-items: center !important;
        color: $primary-color !important;
        display: flex !important;
        text-decoration: none !important;
        transition: color 0.25s ease-in-out, transform 0.25s ease-in-out !important;

        &:hover {
            color: darken($primary-color, 15%) !important;
            text-decoration: none !important;
            transform: translateY(-2px) !important;
        }

        em {
            font-size: 14px !important;
            margin-right: 7px !important;
            transition: transform 0.25s ease-in-out !important;

            &:hover { transform: scale(1.2) !important; }
        }

        &.active {
            color: $secondary-color !important;
            pointer-events: none !important;
            transform: scale(1.05) !important;
        }
    }

    .breadcrumb-separator {
        animation: fadeIn 0.25s ease-in-out forwards !important;
        color: $secondary-color !important;
        margin: 0 5px !important;
        padding-right: 4px !important;
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}