@import './../../../../styles.variables.scss';

.action-btn {
    align-items: center !important;
    background: none !important;
    border-radius: 6px !important;
    border: none !important;
    cursor: pointer !important;
    display: inline-flex !important;
    margin-right: 0 !important;
    padding: 0.5rem !important;
    position: relative !important;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease !important;

    em {
        font-size: 1.3rem !important;
        transition: color 0.3s ease !important;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.05) !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
        transform: scale(1.1) !important;

        &-delete em { color: darken($danger-color, 10%) !important; }
        &-edit em { color: darken($info-color, 10%) !important; }
        &-view em { color: darken($primary-color, 10%) !important; }
    }

    &-delete em { color: $danger-color !important; }
    &-edit em { color: $info-color !important; }
    &-view em { color: $primary-color !important; }
    &:active { transform: scale(0.95) !important; }
}